@page "/example"
@rendermode InteractiveAuto

<h3>Example Page</h3>

<p>@model.GuId</p>
<p>@model.Name</p>
<p>@model.Description</p>

<button @onclick="Get">GetExample</button>

@code {
	private ExampleDto model = new();

	private async Task Get()
	{
		model = await Http.GetFromJsonAsync<ExampleDto>("Api/Example/Get") ?? new ExampleDto();

		await InvokeAsync(StateHasChanged);
	}
}
