@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveAuto" />
<div class="page">
	<AdminNavigation />

	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>