@inherits LayoutComponentBase

<div class="page">

    <MudThemeProvider />
    <MudPopoverProvider />

    <main>
        <div class="top-row px-4">
            <a href="#" class="logo">
                <MudBadge Content="@_shopLabel" Color="Color.Dark" Overlap="true" Class="mx-6 my-4">
                    Wojcik
                </MudBadge>
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{
    private object _shopLabel = "Shop";
}